/* .workout-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  .input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input.error {
    width: 100%;
    padding: 10px;
    border: 1px solid red;
    border-radius: 3px;
    background-color: #fff;
  }
  
  .add-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
   */

.workout-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

input.error {
  width: 100%;
  padding: 10px;
  border: 1px solid red;
  border-radius: 3px;
  background-color: #fff;
}

.form-title {
  margin-bottom: 20px;
  font-size: 24px;
}

.input-container {
  margin-bottom: 15px;
}

.input-label {
  display: block;
  margin-bottom: 5px;
}

.error {
  border-color: #ff6347;
}

.add-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

.error-message {
  color: #ff6347;
  margin-top: 10px;
}
